* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 5px solid black;
}

/* 
============
Search Section
============
*/
.search-section {
  border: 5px solid yellowgreen;
  margin: 0 auto;
  background: darkturquoise;
  color: #fff;
  font-weight: bold;
}

.search-section h1 {
  border: 3px solid red;
  text-transform: uppercase;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.search-container {
  border: 3px solid blue;
  width: 80vw;
  margin: 0 auto;
}

label {
  border: 3px solid red;
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input {
  border: 3px solid blue;
  width: 100%;
}

input,
label {
  margin: 0.4rem 0;
}

.destination-container {
  border: 3px solid brown;
}
.calendar-container {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.departure,
.arrival {
  flex: 1 0 calc(50% - 1rem);
}

.departure {
  border: 3px dashed pink;
}

.arrival {
  border: 3px dashed purple;
}

.search-btn {
  border: 3px solid red;
  display: block;
}

@media screen and (min-width: 798px) {
}
